.app-header{
    width:100%;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    background-color: blue;
}

.logo{
    font-size:1.5em;
    padding-right: 20px;
    color:white;
    align-self:center;
}

.user-actions{
    background-color : blue;
    border-radius: 10px;
    padding-left : 10px;
    padding-right : 10px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

button{
    margin-left: 10px;
    margin-right: 10px;
}

.search-bar{
    width:100%;
    height:10%;
    border: 3px solid gray;
    padding : 10px 10px 20px 20px;
    text-align: center;
    color:darkblue;
    background-color: white;
    margin-bottom: 10px;
}

@media (max-width: 992px) and (min-width: 600px) {

    .app-header{
         background-color: yellow;
    }

    .logo{
        color: darkred;
    }

    .user-actions{
        background : yellow;
    }
}
